<ul>
  <li>Name: <%=h(@analog_input.name)%></li>
  <li>Address: <%=h(@analog_input.address)%></li>
  <li>Size: <%=h(@analog_input.size)%></li>
  <li>Reference: <%=h(@analog_input.reference)%></li>
  <li>Type: <%=h(@analog_input.type.title)%> (<%=h(@analog_input.type.code)%>)</li>
</ul>

<h3>Recent values</h3>
<table>
  <thead>
    <th>Value</th>
    <th>Original</th>
    <th>Created</th>
  </thead>
  <tbody>
<%
  if @logs.length == 0
%>
    <tr>
      <td colspan="100" class="noresults">No log entries yet</td>
    </tr>
<%
  end
  @logs.each do |l|
%>
  <tr>
    <td><%=l[:human_value].round%>&deg;C</td>
    <td><%=l[:value]%></td>
    <td><%=l[:created_at]%></td>
<%
  end
%>
  </tbody>
</table>
