<h2><%=h(@system.name)%></h2>
<% if @subscriptions %>
  <table>
    <thead>
      <tr>
        <th>Login</th>
        <th>Access Level</th>
      </tr>
    </thead>
    <tbody>
    <% @subscriptions.each do |s| %>
      <tr>
        <td><%= h(s.user.login) %></td>
        <td><%= h(s.access_level) %></td>
        <td>
          <% if s.user != @current_user %>
            <% form_tag revoke_access_system_url(@system.id), :method => :post do %>
              <%= hidden_field_tag :login, s.user.login %>
              <button type="submit">Revoke Access</button>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
      <tr>
        <th colspan="3">
          Grant access to new user:
        </th>
      </tr>
      <% form_tag grant_access_system_url(@system.id), :method => :post do %>
      <tr>
        <td><%= text_field_tag :login %></td>
        <td><%= select_tag :access_level, options_for_select( [ [ "Admin", "admin" ], [ "Read Only", "readonly" ] ] ) %></td>
        <td><button type="submit">Grant Access</button></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
