<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><% if @page_title %><%=@page_title%><% else %><%= controller.controller_name %>: <%= controller.action_name %><% end %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>YAHMS</h1>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
